@import 'reset';

:root {
  --main-blue: #6fb4d3;
  --main-yellow: #ffe059;
  --main-red: #ff4242;
  --main-green: #6e9c48;
  --main-black: #202020;
}

.wf-rubik-n4-inactive {

  & h1, p { visibility: invisible; }
}

.wf-rubik-n4-active {

  & h1, p { visibility: visible; }
}

body {
  font-family: Rubik;
  color: var(--main-black);
  font-size: 1.6rem;
  background-image: url(../assets/img/main-bg.png);
  background-repeat: repeat;
  background-size: .4rem .4rem;
  line-height: 1.8rem;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  transform: rotate(-1deg);
  line-height: 2.1rem;
}

.error { color: var(--main-red); }

.hidden { display: none; }

.logo {
  transform: rotate(0);
  width: 10rem;
  height: 3rem;
  background-image: url(../assets/img/doklogo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--main-black);
}

.nav-link-active {
  background: linear-gradient(0deg, transparent 1.1rem, var(--main-yellow) 0) 0 0 repeat;
  background-position: left 2rem bottom 1rem;
  padding-right: .5rem;
}

.content {
  width: 85vw;
  margin: 0 auto;
}

.main-nav {
  width: 90vw;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.main-nav-links { display: flex; }

.mobile-nav-toggle, .mobile-nav-links { display: none; }

.nav-link {
  font-weight: 500;
  margin: 1rem;
  padding-right: .5rem;
}

.fold {
  width: 100%;
  height: 50vmin;
  display: flex;
  justify-content: center;
  background-image: url(../assets/svg/patroon.svg);
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  mix-blend-mode: multiply;
}

.btn {
  background-color: white;
  border-radius: 2.8rem;
  margin-top: 3rem;
  padding: .7rem;
  width: 20rem;
  text-align: center;
  border: none;
  position: relative;
}

.section-title {
  transform: rotate(13deg);
  background-image: linear-gradient(0deg, transparent .8rem, var(--main-yellow) 0);
  background-position: left 1rem top .7rem;
  padding: .5;
  padding-bottom: .3rem;
}

.content-wrap, .footer-wrap {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}

.content-wrap { justify-content: space-around; }

.footer-wrap { justify-content: space-between; }

.about {
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/cardboard-background.png);
  background-size: 100% 100%;
}

.about-image { mix-blend-mode: hard-light; }

.about-content {
  display: flex;
  flex-flow: column nowrap;

  & p {
    margin-top: 3rem;
    max-width: 45rem;
  }
}

button {
  max-width: 20rem;
  font-size: 1.4rem;
  font-weight: 700;
  padding: .8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 2.8rem;
  margin-top: 3rem;
  background-color: white;
  border: none;
}

.text-em-small { font-weight: 500; }

.highlight-header {
  display: flex;
  justify-content: space-between;
}

.highlights, .agenda {
  margin-top: 3rem;
  height: 40rem;
}

footer {
  background-image: url(../assets/img/cardboard.jpg);
  margin-top: 3rem;
}

.agenda {
  background-image: url(../assets/img/cardboard-background.png);
  background-size: 100% 100%;
}

.newsletter {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;
  max-width: 50rem;

  & header { padding: 3rem; }

  & p { padding-bottom: 3rem; }
}

input {
  padding: .8rem;
  font-size: 1.6rem;
  border-radius: 2.8rem;
  border: .1rem solid black;
}

.event {
  width: 65vw;
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;
  padding-left: 3rem;
  flex-flow: row wrap;

  & div {
    padding-bottom: 2rem;
    padding-right: 2rem;
  }
}

h2 {
  line-height: 2.5rem;
  max-width: 20rem;
  color: white;
  font-size: 2.3rem;
  font-weight: bold;
  position: absolute;
  z-index: 3;
}

.event-title {
  background-image: linear-gradient(0deg, transparent .7rem, var(--main-blue) 0);
  background-position: left 1rem top .7rem;
  padding: .5rem;
  mix-blend-mode: hard-light;
  margin-top: 2rem;
  margin-left: 1rem;
}

.tag {
  background-color: var(--main-black);
  font-size: 1.3rem;
  padding: .5rem;
  margin-left: 1rem;
  color: white;
  position: absolute;
  z-index: 3;
  margin-top: -5rem;
}

.event-image {
  object-fit: cover;
  height: 18rem;
  border-radius: 2.8rem;
  filter: none;
  transition: filter .3s ease-in-out;

  &:hover {
    filter: brightness(80%);
  }
}

.event-detail-image {
  height: 40rem;
  object-fit: cover;
  object-position: 0 50;
  border-image-source: url(../assets/img/border.png);
  border-image-slice: 25;
  border-image-repeat: repeat;

  border-width: 1.3rem;
  border-style: solid;
}

.event-detail-about { margin-left: 2rem; }

.desc-about {
  background-image: url(../assets/img/cardboard.jpg);
  padding: 2rem;
  border-radius: 2.8rem;
  width: 35vmax;
  padding-left: 3rem;
  order: 1;
}

.desc-specs {
  margin-top: 2rem;
  background-color: var(--main-yellow);
  border-radius: 2.8rem;
  text-align: center;
  order: 2;
}

.event-detail {
  background-image: url(../assets/svg/pattern.svg);
  background-size: 20%;
  background-position: center center;
  background-repeat: repeat-x;
}

.event-content {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

dl {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
}

dt { font-weight: 500; }

dd { padding-left: .5rem; }

.item {
  display: flex;
  justify-content: flex-start;
}

h3 {
  font-weight: 500;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.event-highlight {
  font-weight: 500;
  background-image: linear-gradient(0deg, transparent .8rem, var(--main-blue) 0);
  background-position: left 1rem top .7rem;
  padding: .5;
  mix-blend-mode: hard-light;
}

.highlight-image {
  margin-top: 3rem;
  width: 19vw;
  height: 35rem;
  object-fit: cover;
  border-radius: 2.8rem;
  margin-left: 1.5rem;
  filter: none;
  transition: filter .3s ease-in-out;

  &:hover {
    filter: brightness(90%);
  }
}

.filter {
  background-image: url(../assets/img/cardboard.jpg);
  width: 30rem;
  height: 40rem;
  border-radius: 2.8rem;
  padding: 2rem;
  margin-top: 3rem;
}

.main-input { border: 0; }

.newsletter-input {
  background-color: var(--main-yellow);
  border: 0;
}

.submit-btn {
  border: 0;
  margin-top: 3rem;
  background-color: var(--main-green);
  padding: 1rem 2rem;
}

.events-content {
  display: flex;
  justify-content: space-between;
}

.styled-select select {
  background-color: white;
  border-radius: 5rem;
  font-size: 1.7rem;
  font-family: Rubik;
  color: var(--main-black);
  padding: .5rem;
  border: 0;
  height: 3.5rem;
  margin-top: 0;
}

h4 {
  text-decoration: underline;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.highlight-events {
  display: flex;
  justify-content: center;
}

.event-highlight-title {
  background-image: linear-gradient(0deg, transparent .8rem, var(--main-red) 0);
  background-position: left 1rem top .7rem;
  padding: .5rem;
  mix-blend-mode: hard-light;
  margin-top: 5rem;
  margin-left: 2.5rem;
}

.all-events:link { text-decoration: underline; }

.highlights { margin-bottom: 3rem; }

.breadcrumbs {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.socials {
  font-size: 1.4rem;
  text-align: right;
  padding-bottom: 1rem;
}

.social-media {

  & a { padding: 1rem; }
}

.select-month { display: flex; }

.months {
  margin-right: 3rem;

  & input { margin-right: .5rem; }
}

@media (width <= 1440px) {

  .event-image { width: 18vw; }
}

@media (width <= 1211px) {

  .event-image { width: 25vw; }
}

@media (width <= 1180px) {

  .event-detail-about { margin-left: 0; }

  .event-content {
    display: flex;
    flex-flow: column nowrap;
  }

  .event-detail-image {
    width: 80vw;
    height: 50rem;
    align-self: center;
  }

  .desc-about, .desc-specs {
    width: 80vw;
    margin-top: 3rem;
    align-self: center;
  }

  .desc-specs { order: -4; }

  .mobile-position-change {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
  }

  .highlight-image { height: 20rem; }

  .highlights { height: 25rem; }

  .event-highlight-title {
    max-width: 12rem;
    line-height: 2rem;
  }

  .event-detail { background-position: 0% 30%; }
}

@media (width <= 965px) {

  .events-content {
    display: flex;
    flex-flow: column nowrap;
  }

  .filter {
    width: 80vw;
    align-self: center;
  }

  .event {
    width: 80vw;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    align-self: center;
  }

  .event-image { width: 24vw; }
}

@media (width <= 800px) {

  .content-wrap {
    justify-content: center;
  }

  .all-events { display: none; }

  .event-detail-image {
    width: 80vw;
    height: 30rem;
    align-self: center;
  }

  h2 { font-size: 1.8rem; }

  .event-detail { background-image: none; }

  .events-content { align-self: center; }

  .event-image {
    width: 35vw;

    &:hover {
      filter: none;
    }
  }

  .highlight-image {

    &:hover {
      filter: none;
    }
  }

  .event {

    & div {
      margin-right: 1rem;
      margin-bottom: 1rem;
      padding: 0;
    }
  }
}

@media (width <= 690px) {

  .highlight-header {
    justify-content: center;
    padding-bottom: 2rem;
  }

  .highlight-image {
    width: 50vw;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .highlight-events {
    flex-flow: row wrap;
    padding: 0;
  }

  .highlights {
    width: 100vw;
    height: 45rem;
  }

  .footer-wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .socials {
    text-align: left;
    padding-top: 2rem;
  }

  .fold {

    & img { width: 50vw; }
  }

  .event-image { width: 35vw; }

  .event-title { width: 28vw; }

  .event-highlight-title {
    margin-top: 2rem;
  }

  .event {

    & div {
      padding: .5;
      margin-bottom: 1.5rem;
      align-self: center;
    }
  }
}

@media (width <= 580px) {

  .hide-mobile { display: none; }

  .filter {
    height: 30rem;
    padding: 1rem;
  }

  .about-info { width: 80vw; }

  .main-nav-links { display: none; }

  .mobile-nav-toggle {
    display: flex;
    user-select: none;
    z-index: 1;

    & input {
      position: absolute;
      z-index: 2;
      margin-top: 1rem;
      width: 6rem;
      opacity: 0;
      -webkit-touch-callout: none;
      cursor: pointer;
    }

    & span { text-transform: uppercase; }
  }

  .mobile-nav-links {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    font-size: 0;
    line-height: 5rem;
    position: absolute;
    width: 100vw;
    height: 0;
    background: color(var(--main-black) a(70%));
    top: 6rem;
    left: 0;
    z-index: 4;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transition:
      font-size .3s cubic-bezier(.77, .2, .05, .1),
      height .5s cubic-bezier(.01, .2, .05, .1);

    & a {
      color: white;
    }
  }

  .mobile-nav-toggle input:checked ~ ul {
    font-size: 3rem;
    height: 100vh;
    opacity: 1;
  }
}

@media (width <= 414px) {

  .desc-about, .desc-specs { margin-top: 1.5rem; }

  .event-image { width: 80vw; }

  .event {

    & div {
      padding: 0;
      align-self: center;
      margin: 0;
      margin-bottom: 1.5rem;
    }
  }

  .event-title { width: 50vw; }

  .event-detail-image { height: 20rem; }

  .about-content {

    & .btn { align-self: center; }
  }
}
